.menu {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.menu-toggle div {
  width: 30px;
  height: 4px;
  background-color: red;
  margin: 2px 0;
  transition: 0.4s;
}

.menu-toggle.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active div:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.mobile-menu.active {
  right: 0;
}